.AddonLoadingRoot {
    width: 100%;
    height: 100%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.TitleBig
{
	vertical-align: top;
    horizontal-align: left;
	margin-left: 20px;
	margin-top: 110px;
	font-size: 58px;
	letter-spacing: 3px;
	color: white;
    text-shadow: 0px 1px 12px 3.0 #474c15;
	text-transform: uppercase;
	font-family: titleFont;
	font-weight: bold;
}

#PredictionWell
{
	background-color: #000000aa;
	width: 450px;
	margin-left: 16px;
	height: 300px;
	vertical-align: top;
	margin-top: 16px;
	margin-left: 16px;
}

#PredictionWell2
{
	background-color: #000000aa;
	width: 450px;
	margin-left: 16px;
	height: 155px;
	vertical-align: top;
	margin-top: 16px; /* Change it to 325px after activating the NEWS Tab. */
	border: 1px solid #1C643D;
}

.ReportBugsDiscordText
{
	text-transform: uppercase;
	margin-top: 35px;
	horizontal-align: center;
	font-weight: thin;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: top;
	text-shadow: 0px 0px 6px 1.0 #000000;
	padding: 7px 8px 5px 8px;

	color: #ffffffdd;

	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: linear;	
}

/* -- Battle Pass Default Button -------------------------------------------- */

.BattlePassButtonNEW
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( bp_color1&11 ), to( bp_color2&22 ) );
	border: 1px solid #1C643D;
	transition-property: brightness;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	brightness: 2;
	
	align: center center;
	margin-top: 70px;
}

.BattlePassButtonNEW:hover
{
	brightness: 2;
}

.BattlePassButtonNEW:active
{
	//background-color: gradient( linear, 0% 0%, 0% 100%, from( red ), to( blue ) );
	border: 1px solid bp_color8;

	sound: "ui_generic_button_click";
}

.BattlePassButtonNEW Label
{
	margin-top: 2px;
	text-transform: uppercase;

	horizontal-align: center;
	font-weight: thin;
	font-size: 14px;
	letter-spacing: 2px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 0px 0px 6px 1.0 #000000;
	padding: 7px 8px 5px 8px;

	color: #ffffffdd;

	transition-property: color;
	transition-duration: 0.1s;
	transition-timing-function: linear;
}

.BattlePassButtonNEW:active Label
{
	transform: translateY(1px);
}

.BattlePassButtonNEW:hover Label
{
	brightness: 2;
}