.Root {
    width: 100%;
    height: 100%;
}

#ErrorPanel {
	width: 1000px;
	height: 100px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 300px;
	opacity: 0;
	transform: scaleX(1.5) scaleY(1.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}
.error_appeared #ErrorPanel {
	opacity: 1;
	transform: scaleX(1) scaleY(1);
	visibility: visible;
}
#ErrorMessage {
    horizontal-align: center;
    vertical-align: middle;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    color: #CF350C;
    text-shadow: 2px 2px 2px #000000;
}

.TopLeftMenu {
	width: 220px;
    height: 40px;
    margin-top: 10px;
    margin-left: -5px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0.800) ), to( #42310D00 ) );
    border-radius: 5px;
    opacity: 1.2;
    transition-duration: .05s;
    transition-property: background-image;
    transition-timing-function: ease-in-out;
}

.TopLeftMenuButton {
	width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    opacity: 0.7;
    wash-color: #CCDDFF;
    transition-property: opacity;
    transition-duration: 0.2s;
    tooltip-position: bottom;
}

#NewDashboardButton {
	background-image: url("file://{images}/custom_game/icons/dota_logo_white.png");
    background-size: 100%;
    margin-top: 4px;
    margin-left: 20px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

#NewSettingsButton {
	background-image: url("file://{images}/custom_game/icons/gear.png");
    background-size: 25px;
    margin-top: 7px;
    margin-left: 67px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

#LeaderboardButton {
	background-image: url("file://{images}/custom_game/icons/leaderboards.png");
    background-size: 100%;
    margin-top: 5px;
    margin-left: 105px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

#NewDiscordButton {
	background-image: url("file://{images}/custom_game/icons/discord.png");
    background-size: 100%;
	width: 20%;
    margin-top: 7px;
    margin-left: 142px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

@keyframes 'blinker' {
    50% {
        opacity: 0.3;
    }
}

#StoreButton {
	background-image: url("file://panorama/images/hud/reborn/icon_courier_dead_psd.png");
	background-size: 26px;
	margin-top: 6px;
	margin-left: 110px;
	wash-color: white;
	animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
	opacity: 2;
}

.Discord {
	horizontal-align: center;
	opacity: 1;
	transition-duration: 0.0s;
	font-size: 17px;
	color: white;
	margin-top: 46px;
	tooltip-position: bottom;
	margin-left: 395px;	
}

#NewDashboardButton:hover,
#LeaderboardButton:hover,
#NewDiscordButton:hover,
#NewSettingsButton:hover { 
	opacity: 1; 
	wash-color: white;
}

#StoreButton:hover { opacity: 1; }

#NewDashboardButton:active,
#LeaderboardButton:active,
#NewDiscordButton:active,
#NewSettingsButton:active,
#StoreButton:active { opacity: 1.0; }


.Discord:hover,
.Reddit:hover,
.Steam:hover { opacity: 1.5; }

.Divider {
	width: 3px;
    height: 30px;
	opacity: 1.3;
	background-color: gray;
}

#Divider {
	horizontal-align: left;
	margin-top: 17px;
	margin-left: 155px;
}
#Divider2 {
	horizontal-align: center;
	margin-top: 42px;
	margin-left: 160px;
}
#Divider3 {
	horizontal-align: center;
	margin-top: 17px;
	margin-left: 265px;
}
#Divider4 {
    height: 35px;
	horizontal-align: left;
	margin-top: 15px;
	margin-left: 320px;
}
#Divider5 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 112px;
}
#Divider6 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 200px;
}
#Divider7 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 285px;
}
#Divider8 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 465px;
}

.MainCenter {
	width: 775px;
    height: 159px;
	horizontal-align: center;
	margin-top: -30px;
	margin-left: 150px;
	background-image: url("file://{images}/custom_game/TopUICenternew.png");
	background-size: 100%;
	opacity: 1;
	transition-duration: .05s;
	transition-property: background-image;
	transition-timing-function: ease-in-out;
}

#RoundNumber {
	margin-top: 30px;
	margin-left: 80px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 29px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
    text-overflow: clip;
	text-transform: uppercase;
	
}

#RoundNumberLabel {
	margin-top: 54px;
	margin-left: 116px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 32px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
    text-overflow: clip;
}

.RoundName {
	margin-top: 35px;
	margin-left: 230px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 18px;
	color: #ffffee;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

.RoundNameLabel {
	margin-top: 34px;
	margin-left: 316px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
}

.UnitCount {
	margin-top: 60px;
	margin-left: 230px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 18px;
	color: #ffffee;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

.UnitCountLabel {
	margin-top: 59px;
	margin-left: 323px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

.NextRound {
	margin-top: 45px;
	margin-left: 450px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
	color: #ffffee;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
}

.NextRoundLabel {
	margin-top: 43px;
	margin-left: 605px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 23px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

#TimeTitleLabel {
	horizontal-align: left;
	vertical-align: center;
	color: orange;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
	margin-top: 108px;
	margin-left: 330px;	
}

#Timer {
	horizontal-align: left;
	vertical-align: center;
	font-weight: bold;
	color: white;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
	margin-top: 112px;
	margin-left: 354px;		
	tooltip-position: bottom;
}

#LeaderboardsRoot {
	width: 500px;
	height: 800px;
	margin-top: 50px;
	align: center top;
	visibility: collapse;
}

.LeaderboardsHeader {
	align: center top;
	margin-top: 120px;
	width: 1300px;
	height: 40px;
	background-image:url('file://{images}/custom_game/miniprofile_rock_psd.png');
	background-size: 100% 100%;
	opacity: 1;
	border-top: 2px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

#CloseRoot {
	width: 24px;
	height: 24px;
	wash-color: white;
	background-image:url('file://{images}/custom_game/icons/close.png');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 6px;
	margin-right: 6px;
	transition-property: wash-color, pre-transform-scale2d, background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	align: right top;
	tooltip-position: right;
}

#CloseRoot:hover {
	transform: scale3d( 1.10, 1.10, 1.10);
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.LeaderboardsTitleIcon {
	width: 28px;
	height: 28px;
	background-image: url("file://{images}/custom_game/icons/leaderboards.png");
    background-size: 100%;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	align: left center;
	margin-left: 135px;
}

.LeaderboardsTitle {
	align: center center;
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	margin-left: 35px;
}

.LeaderboardsMain {
	align: center top;
	width: 1300px;
	height: 700px;
	margin-top: 160px;
	opacity: 1;
	background-image: url("file://panorama/images/custom_game/bg_profile_psd.png"); 
	background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: -100px 0px;
	border-top: 1px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#LeaderboardsRankingContainer {
	width: 98%;
	height: 98%;
	align: center center;
}

.Row {
	width: 100%;
	height: 8%;
	border-top: 1px solid #3b404777;
	border-bottom: 1px solid #00000088;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(134, 74, 2, 0.150) ), to( rgba(134, 74, 2, 0.200) ) );
}

#Player1Panel {
	margin-top: 0px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(84, 42, 95, 0.150) ), to( rgba(84, 42, 95, 0.999) ) );
}

#Player2Panel {
	margin-top: 55px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(34, 56, 130, 0.150) ), to( rgba(34, 56, 130, 0.999) ) );
}

#Player3Panel {
	margin-top: 110px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(76, 113, 130, 0.150) ), to( rgba(76, 113, 130, 0.999) ) );
}

#Player4Panel {
	margin-top: 165px;
}

#Player5Panel {
	margin-top: 220px;
}

#Player6Panel {
	margin-top: 275px;
}

#Player7Panel {
	margin-top: 330px;
}

#Player8Panel {
	margin-top: 385px;
}

#Player9Panel {
	margin-top: 440px;
}

#Player10Panel {
	margin-top: 495px;
}

.LocalPlayerDivider {
	width: 95%;
	height: 2px;
	background-color: #9FB7E3;
	brightness: 0.2;
	border-radius: 7px;
	
	align: center bottom;
	margin-bottom: 68px;
}

#PlayerLocalPanel {
	margin-top: 570px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0.800) ), to( #42310D00 ) );
}

.NumberContainer {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/place_medal.png');
	background-size: 68px 68px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.NumberContainer1 {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/first_place_medal.png');
	background-size: 54px 54px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.NumberContainer2 {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/second_place_medal.png');
	background-size: 53px 53px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.NumberContainer3 {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/third_place_medal.png');
	background-size: 53px 53px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.NumberContainerLocal {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/place_local.png');
	background-size: 68px 68px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.NumberContainerLabel {
	align: center center;
	color: white;
	
	text-align: center;
    text-shadow: 0px 0px 4px 5 black;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 0px;
}

.NumberContainerLabelLocal {
	align: center center;
	color: white;
	
	text-align: center;
    text-shadow: 2px 2px 2px #000000;
	
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 0px;
	
	text-overflow: shrink;
	margin-right: 1px;
	margin-left: 0px;
}

.SteamAvatarContainer {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainer1 {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/first_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainer2 {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/second_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainer3 {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/third_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainerLocal {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/third_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.AvatarImage {
	background-image: url("file://{images}/custom_game/user_avatar.png");
	background-size: 100%;
	width: 92%;
	height: 92%;
	align: center center;
}

DOTAAvatarImage {
    width: 92%;
	height: 92%;
    align: center center;
}

.SteamUserNameContainer {
	width: 40%;
	height: 100%;
	margin-left: 120px;
}

.UserNameLabelSteam {
	align: left center;
	
	color: white;
	
	text-overflow: shrink;
	text-shadow: 2px 2px 2px #000000;
	
	font-weight: semi-bold;
	font-size: 27px;
	
	font-family: defaultFont;
}

.MMRContainer {
	width: 35%;
	height: 100%;
	horizontal-align: right;
}

.MMRLabel {
	align: center center;
	
	color: white;
	
	text-overflow: shrink;
	text-shadow: 2px 2px 2px #000000;
	
	font-weight: semi-bold;
	font-size: 25px;
	
	font-family: defaultFont;
}
