.Root {
    width: 100%;
    height: 100%;
}

#ErrorPanel {
	width: 1000px;
	height: 100px;
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 300px;
	opacity: 0;
	transform: scaleX(1.5) scaleY(1.5);
	transition-property: transform, opacity;
	transition-duration: 0.3s;
	visibility: collapse;
}
.error_appeared #ErrorPanel {
	opacity: 1;
	transform: scaleX(1) scaleY(1);
	visibility: visible;
}
#ErrorMessage {
    horizontal-align: center;
    vertical-align: middle;
    font-size: 40px;
    opacity: 1;
    text-align: center;
    color: #CF350C;
    text-shadow: 2px 2px 2px #000000;
}

.TopLeftMenu {
	width: 220px;
    height: 40px;
    margin-top: 10px;
    margin-left: -5px;
    background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0.800) ), to( #42310D00 ) );
    border-radius: 5px;
    opacity: 1.2;
    transition-duration: .05s;
    transition-property: background-image;
    transition-timing-function: ease-in-out;
}

.TopLeftMenuButton {
	width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    margin-bottom: 0px;
    opacity: 0.7;
    wash-color: #CCDDFF;
    transition-property: opacity;
    transition-duration: 0.2s;
    tooltip-position: bottom;
}

#NewDashboardButton {
	background-image: url("file://{images}/custom_game/icons/dota_logo_white.png");
    background-size: 100%;
    margin-top: 4px;
    margin-left: 20px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

#NewSettingsButton {
	background-image: url("file://{images}/custom_game/icons/gear.png");
    background-size: 25px;
    margin-top: 7px;
    margin-left: 67px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

#LeaderboardButton {
	background-image: url("file://{images}/custom_game/icons/leaderboards.png");
    background-size: 100%;
    margin-top: 5px;
    margin-left: 105px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

#NewDiscordButton {
	background-image: url("file://{images}/custom_game/icons/discord.png");
    background-size: 100%;
	width: 20%;
    margin-top: 7px;
    margin-left: 142px;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	wash-color: #9FB7E3;
}

@keyframes 'blinker' {
    50% {
        opacity: 0.3;
    }
}

#StoreButton {
	background-image: url("file://panorama/images/hud/reborn/icon_courier_dead_psd.png");
	background-size: 26px;
	margin-top: 6px;
	margin-left: 110px;
	wash-color: white;
	animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 10;
	opacity: 2;
}

.Discord {
	horizontal-align: center;
	opacity: 1;
	transition-duration: 0.0s;
	font-size: 17px;
	color: white;
	margin-top: 46px;
	tooltip-position: bottom;
	margin-left: 395px;	
}

#NewDashboardButton:hover,
#LeaderboardButton:hover,
#NewDiscordButton:hover,
#NewSettingsButton:hover { 
	opacity: 1; 
	wash-color: white;
}

#StoreButton:hover { opacity: 1; }

#NewDashboardButton:active,
#LeaderboardButton:active,
#NewDiscordButton:active,
#NewSettingsButton:active,
#StoreButton:active { opacity: 1.0; }


.Discord:hover,
.Reddit:hover,
.Steam:hover { opacity: 1.5; }

.Divider {
	width: 3px;
    height: 30px;
	opacity: 1.3;
	background-color: gray;
}

#Divider {
	horizontal-align: left;
	margin-top: 17px;
	margin-left: 155px;
}
#Divider2 {
	horizontal-align: center;
	margin-top: 42px;
	margin-left: 160px;
}
#Divider3 {
	horizontal-align: center;
	margin-top: 17px;
	margin-left: 265px;
}
#Divider4 {
    height: 35px;
	horizontal-align: left;
	margin-top: 15px;
	margin-left: 320px;
}
#Divider5 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 112px;
}
#Divider6 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 200px;
}
#Divider7 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 285px;
}
#Divider8 {
    horizontal-align: left;
	margin-top: 17px;
	margin-left: 465px;
}

.RoundName {
	margin-top: 35px;
	margin-left: 230px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 18px;
	color: #ffffee;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

.UnitCount {
	margin-top: 60px;
	margin-left: 230px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 18px;
	color: #ffffee;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

#TimeTitleLabel {
	horizontal-align: left;
	vertical-align: center;
	color: orange;
	font-size: 20px;
	text-shadow: 2px 2px 2px black;
	text-overflow: clip;
	margin-top: 108px;
	margin-left: 330px;	
}

#LeaderboardsRoot {
	width: 500px;
	height: 800px;
	margin-top: 50px;
	align: center top;
	visibility: collapse;
}

.LeaderboardsHeader {
	align: center top;
	margin-top: 120px;
	width: 1300px;
	height: 40px;
	background-image:url('file://{images}/custom_game/miniprofile_rock_psd.png');
	background-size: 100% 100%;
	opacity: 1;
	border-top: 2px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

#CloseRoot {
	width: 24px;
	height: 24px;
	wash-color: white;
	background-image:url('file://{images}/custom_game/icons/close.png');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 6px;
	margin-right: 6px;
	transition-property: wash-color, pre-transform-scale2d, background-color;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	align: right top;
	tooltip-position: right;
}

#CloseRoot:hover {
	transform: scale3d( 1.10, 1.10, 1.10);
	transition-property: transform;
	transition-duration: 0.2s;
	transition-timing-function: ease-in;
}

.LeaderboardsTitleIcon {
	width: 28px;
	height: 28px;
	background-image: url("file://{images}/custom_game/icons/leaderboards.png");
    background-size: 100%;
    transition-duration: 0.3s;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
	align: left center;
	margin-left: 135px;
}

.LeaderboardsTitle {
	align: center center;
	font-size: 28px;
	color: white;
	text-transform: uppercase;
	margin-left: 35px;
}

.LeaderboardsMain {
	align: center top;
	width: 1300px;
	height: 700px;
	margin-top: 160px;
	opacity: 1;
	background-image: url("file://panorama/images/custom_game/bg_profile_psd.png"); 
	background-repeat: no-repeat;
	background-size: 250% 100%;
	background-position: -100px 0px;
	border-top: 1px solid #3b404777;
	border-right: 2px solid #00000088;
	border-left: 2px solid #4c434677;
	border-bottom: 2px solid #00000088;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
}

#LeaderboardsRankingContainer {
	width: 98%;
	height: 98%;
	align: center center;
}

.Row {
	width: 100%;
	height: 8%;
	border-top: 1px solid #3b404777;
	border-bottom: 1px solid #00000088;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(134, 74, 2, 0.150) ), to( rgba(134, 74, 2, 0.200) ) );
}

#Player1Panel {
	margin-top: 0px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(84, 42, 95, 0.150) ), to( rgba(84, 42, 95, 0.999) ) );
}

#Player2Panel {
	margin-top: 55px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(34, 56, 130, 0.150) ), to( rgba(34, 56, 130, 0.999) ) );
}

#Player3Panel {
	margin-top: 110px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(76, 113, 130, 0.150) ), to( rgba(76, 113, 130, 0.999) ) );
}

#Player4Panel {
	margin-top: 165px;
}

#Player5Panel {
	margin-top: 220px;
}

#Player6Panel {
	margin-top: 275px;
}

#Player7Panel {
	margin-top: 330px;
}

#Player8Panel {
	margin-top: 385px;
}

#Player9Panel {
	margin-top: 440px;
}

#Player10Panel {
	margin-top: 495px;
}

.LocalPlayerDivider {
	width: 95%;
	height: 2px;
	background-color: #9FB7E3;
	brightness: 0.2;
	border-radius: 7px;
	
	align: center bottom;
	margin-bottom: 68px;
}

#PlayerLocalPanel {
	margin-top: 570px;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( rgba(0, 0, 0, 0.800) ), to( #42310D00 ) );
}

.NumberContainer {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/place_medal.png');
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 1px;
}

.NumberContainer1 {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/first_place_medal.png');
	background-size: 58px 58px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: -2px;
}

.NumberContainer2 {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/second_place_medal.png');
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 1px;
}

.NumberContainer3 {
	width: 11%;
	height: 100%;
	background-image:url('file://{images}/custom_game/leaderboards/third_place_medal.png');
	background-size: 60px 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 2px;
}

.NumberContainerLocal {
	width: 11%;
	height: 100%;
	background-size: 32px 32px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-top: 1px;
}

.NumberContainerLabel {
	align: center center;
	color: white;
	
	text-align: center;
    text-shadow: 0px 0px 4px 5 black;
	
	font-size: 30px;
	font-weight: bold;
	letter-spacing: 0px;

	margin-bottom: 5px;
	margin-right: 2px;
}

.NumberContainerLabelLocal {
	align: center center;
	color: white;
	
	text-align: center;
    text-shadow: 2px 2px 2px #000000;
	
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0px;
	
	text-overflow: shrink;
	margin-right: 0px;
	margin-left: 4px;
}

.SteamAvatarContainer {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainer1 {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/first_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainer2 {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/second_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainer3 {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/third_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.SteamAvatarContainerLocal {
	width: 10%;
	height: 100%;
	background-image: url("file://{images}/custom_game/leaderboards/third_place_avatar.png");
	background-size: 100% 100%;
	margin-left: 65px;
}

.AvatarImage {
	background-image: url("file://{images}/custom_game/user_avatar.png");
	background-size: 100%;
	width: 92%;
	height: 92%;
	align: center center;
}

DOTAAvatarImage {
    width: 92%;
	height: 92%;
    align: center center;
}

.SteamUserNameContainer {
	width: 40%;
	height: 100%;
	margin-left: 120px;
}

.UserNameLabelSteam {
	align: left center;
	
	color: white;
	
	text-overflow: shrink;
	text-shadow: 2px 2px 2px #000000;
	
	font-weight: semi-bold;
	font-size: 27px;
	
	font-family: defaultFont;
}

.MMRContainer {
	width: 35%;
	height: 100%;
	horizontal-align: right;
}

.MMRLabel {
	align: center center;
	
	color: white;
	
	text-overflow: shrink;
	text-shadow: 2px 2px 2px #000000;
	
	font-weight: semi-bold;
	font-size: 25px;
	
	font-family: defaultFont;
}

#PlayerDeathInformationPanel {
    width: 450px;
    height: 200px;
    align: center center;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #272d2eee ), to( #131617ee ) );
    border: 1px solid #5e6869;
	border-radius: 6px;
    padding-top: 22px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    flow-children: down;

    opacity: 0;
    transform: scale3d(0, 0, 1);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
}

#PlayerDeathInformationPanel.Visible {
    opacity: 1;
    transform: scale3d(1, 1, 1);
}

#PlayerDeathInformationPanelTitle {
    font-size: 29;
    font-weight: semi-bold;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	text-shadow: 2px 2px 2px black;
    margin-top: -16px;
    horizontal-align: center;
    font-family: defaultFont;
    width: fit-children;
	text-transform: uppercase;
	font-family: titleFont;
}

.PlayerDeathInformationPanelTop {
    width: 45%;
    height: 27%;
    vertical-align: top;
    flow-children: right;
    margin-top: 15px;
	align: center center;
}

.PlayerDeathInformationPanelBottom {
    width: 100%;
    height: 30%;
    vertical-align: bottom;
    flow-children: right;
    margin-bottom: 5px;
}

#WatchButton {
    width: 150px;
    height: 40px;
    background-image: url("file://{images}/custom_game/death_panel/gray_large_off.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 1px solid #ffffff05;
    border-right: 1px solid #00000088;
    border-left: 1px solid #ffffff05;
    border-bottom: 1px solid #00000088;
    text-align: center;
    align: center center;
    margin-left: 30px;
	margin-top: 25px;
}

#QuitButton {
    width: 150px;
    height: 40px;
    background-image: url("file://{images}/custom_game/death_panel/red_large_off.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-top: 1px solid #ffffff05;
    border-right: 1px solid #00000088;
    border-left: 1px solid #ffffff05;
    border-bottom: 1px solid #00000088;
    text-align: center;
    align: center center;
	margin-top: 25px;
}

#WatchButton > Label,
#QuitButton > Label {
    align: center center;
    font-size: 20;
    width: fit-children;
    text-transform: uppercase;
    color: white;
	text-shadow: 1px 1px 2px 3.0 #000000;
}

#WatchButton:hover,
#QuitButton:hover {
    brightness: 1.5;
}

#QuitButton:active {
    sound: "ui_generic_button_click";
}

#PlayerDeathInformationPanelMMRTitle {
	align: center center;
    font-size: 20;
	font-weight: thin;
    color: white;
	text-shadow: 1px 1px 2px 3.0 #000000;
    width: fit-children;
    text-transform: uppercase;
	font-family: defaultfont;
}

#PlayerDeathInformationPanelMMRChange {
	align: center center;
    font-size: 20;
    width: fit-children;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px 3.0 #000000;
	text-overflow: shrink;
	font-family: defaultfont;
	margin-right: 15px;
}

.MMRChangePositive {
	color: #3bb660;
}

.MMRChangeNegative {
	color: rgb(253, 63, 63);
}

#RankedSeason0PopupWindow
{
	width: 1066px;
	height: 706px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
	border: 1px solid #5e6869;	
	border-radius: 5px;
	align: center center;
	margin-bottom: 50px;
    opacity: 0; /* Set to 1 later */
    transform: scale3d(0, 0, 0); /* Set to 1,1,1 later */
    transition-property: opacity, transform;
    transition-duration: 0.3s;
}

#RankedSeason0PopupWindow.Visible {
    opacity: 0; /* Set to 1,1,1 later */
    transform: scale3d(0, 0, 0); /* Set to 1,1,1 later */
}

.Popup687
{
	width: 1066px;
	height: 706px;
	padding: 0px;
	overflow: clip;
	flow-children: none;
}

#BackgroundImage
{
	horizontal-align: center;
	width: 1066px;
	height: 706px;
	background-image: url("file://{images}/custom_game/popups/ranked_season_0.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#Contents
{
	flow-children: down;
	vertical-align: bottom;
	margin-left: 20px;
	margin-bottom: 20px;
	background-color: #000e;
	padding: 16px 20px 20px 20px;
	border: 1px solid #5e6869;
	border-radius: 5px;
}

#Title
{
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	font-size: 40px;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px 2.0 black;
	font-weight: semi-bold;
	font-family: titleFont;
}

#Message
{
	color: #ccc;
	text-shadow: 0px 0px 4px 2.0 black;
	vertical-align: bottom;
	max-width: 600px;
	font-size: 20px;
}

#VersionNumber
{
	horizontal-align: right;
	margin: 0px 34px 0px 0px;
	color: #F0F1E6;
	font-size: 140px;
	text-shadow: 0px 0px 1px 4.0 black;
}

#Buttons
{
	vertical-align: bottom;
	horizontal-align: right;
	padding: 20px;
}

#Buttons TextButton
{
	margin-left: 20px;
}

.TopInformationPanelRoot {
	width: 500px;
	height: 90px;
	align: center top;
	flow-children: down;
	margin-top: -1px;
}

.TopInformatioPanelTop {
	width: 500px;
	height: 65px;
	background-color: gradient( linear, 0% 0%, 3% 100%, color-stop(0.0, #000000e0 ), color-stop(1.0, #000000e0 ) );
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;
	box-shadow: fill #00000055 1px 1px 6px 0px;
	background-size: 100%;
	background-image: url("file://{images}/custom_game/bg_profile_psd.png");
}

.TopInformatioPanelTopLeft {
	horizontal-align: left;
	width: 27%;
	height: 100%;
	flow-children: right;
}

.TopInformatioPanelTopCenter {
	horizontal-align: center;
	margin-right: 66px;
	width: 32%;
	height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.TopInformatioPanelTopRight {
	horizontal-align: right;
	width: 40%;
	height: 100%;
}

.TopInformatioPanelBottom {
	width: 100px;
	height: 25px;
	align: center center;
	background-color: gradient( linear, 0% 0%, 3% 100%, color-stop(0.0, #000000e0 ), color-stop(1.0, #000000e0 ) );
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-right: 1px solid #00000088;
	border-left: 1px solid #4c434677;
	border-bottom: 1px solid #00000088;
	background-size: 100%;
	box-shadow: fill #00000055 1px 1px 6px 0px;
	background-size: 100%;
	background-image: url("file://{images}/custom_game/bg_profile_psd.png");
}

#Timer {
	horizontal-align: center;
	vertical-align: center;
	font-weight: bold;
	color: white;
	font-size: 18px;
	text-shadow: 1px 1px 2px 3 #000000;
	text-overflow: clip;	
	tooltip-position: bottom;
	margin-top: -1px;
}

#RoundNumber {
	margin-left: 19px;
    align: center center;
    font-weight: bold;
    font-size: 22px;
	color: white;
	font-family: titleFont;
	text-shadow: 1px 1px 2px 3 #000000;
    text-overflow: clip;
	text-transform: uppercase;
}

#RoundNumberLabel {
    align: center center;
    font-weight: bold;
    font-size: 22px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	font-family: titleFont;
	text-shadow: 1px 1px 2px 3 #000000;
    text-overflow: clip;
	margin-right: 1px;
	text-overflow: shrink;
}

.TopInformatioPanelTopCenterLeft {
	width: 38%;
	height: 100%;
	horizontal-align: left;
}

.TopInformatioPanelTopCenterRight {
	width: 60%;
	height: 100%;
	horizontal-align: right;
}

.RoundNameIcon {
	width: 24px;
	height: 24px;
	margin-top: 5px;
	margin-left: 30px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
	background-image: url("file://{images}/custom_game/icons/RoundNameIcon.png");
    background-size: 100%;
	tooltip-position: bottom;
}

.UnitCountIcon {
	width: 24px;
	height: 24px;
	margin-bottom: 5px;
	margin-left: 30px;
    horizontal-align: left;
    vertical-align: bottom;
    font-weight: bold;
	background-image: url("file://{images}/custom_game/icons/UnitCountIcon.png");
    background-size: 100%;
	tooltip-position: bottom;
}

.RoundNameLabel {
	margin-top: 5px;
    horizontal-align: left;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
	color: white;
}

.UnitCountLabel {
	margin-bottom: 5px;
    horizontal-align: left;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 20px;
	color: white;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}

.NextRound {
	margin-top: 7px;
    horizontal-align: center;
    vertical-align: top;
    font-weight: bold;
    font-size: 20px;
	color: white;
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
	text-transform: uppercase;
}

.NextRoundLabel {
	margin-bottom: 7px;
    horizontal-align: center;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 23px;
	color: gradient( linear, 0% 0%, 0% 100%, from( #c88423 ), color-stop( 0.25, #c88423 ), color-stop( 0.5, #fffb84 ), color-stop( 0.75, #c88423 ), to( #9a6717 ) );
	border-color: black;
	font-weight: bold;
    text-overflow: clip;
	text-shadow: 2px 2px 2px black;
}