.Root
{
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-left: -1px;
}

.AvatarsPanel
{
	flow-children: down;
	horizontal-align: left;
	z-index: 3;
}


.PlayerPanel
{			
	width: 211px;
	height: 90px;
	background-image: url("file://{images}/custom_game/card_background_psd.png");
	background-size: 100%;
	opacity: 1;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #25282acc ), color-stop( .5, #25282acc), to( #000000dd ) );
	transition-duration: .05s;
	transition-property: background-image;
	transition-timing-function: ease-in-out;
	margin-bottom: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.GrayOut
{
	width: 210px;
	height: 90px;
	background-color: gray;
	opacity: 0.9;
	transition-duration: .05s;
	transition-property: background-image;
	transition-timing-function: ease-in-out;
	margin-bottom: 5px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.UserAvatar
{			
	width: 64px;
	height: 64px;
	background-size: 100%;
	background-image:url('file://{images}/custom_game/user_avatar.png');
	horizontal-align: left;
	margin-top: 2px;
	margin-left: 0px;
}

.Username
{	
	horizontal-align: center;
	margin-top: 20px;
	margin-left: 55px;
	overflow: clip;
	text-overflow: clip;
}
Label {
	color: white;
	font-size: 20px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	overflow: clip;
	text-overflow: clip;
}

.MMRNumber
{
	margin-top: 39px;
	margin-left: 55px;
	font-size: 14px;
	horizontal-align: center;
	margin-right: 2px;
	letter-spacing: 2px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	color: white;
}

.PlayerHealth
{	
  width: 210px;
  height: 27px;  
  margin-left: 0px;
  margin-top: 62px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.PlayerHealth .ProgressBarLeft
{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25 ), color-stop( 0.2, #5ba539cc ), color-stop( .5, #4D9030), to( #425d25) );	
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #339933c9;
}

.PlayerHealth .ProgressBarRight
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #17200d ), color-stop( 0.2, #222e13 ), color-stop( .5, #1e2911), to( #17200d) );
	border-top-right-radius: 2px;
  	border-bottom-right-radius: 2px;
  	border-top-left-radius: 0px;
  	border-bottom-left-radius: 0px;
}

.Invisible
{
	opacity: 0;
}

.HealthPercentage
{
	font-size: 16px;
	margin-right: 2px;
	margin-top: 61px;
	margin-left: 15px
	letter-spacing: 2px;
	width: 65px;
	align: center center;
	text-shadow: 1px 1px 2px 3 #000000;
	color: white;
	font-family: defaultFont;
}